.title-container{
    border: 0px solid var(--dark-blue-color);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 50px 30px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--blue-light-color);  
    color: #032e53;
}

.title-frontend-g7{
    font-weight: bolder;
    font-size: 2rem;
}

@media(min-width: 768px){
    .title-container{
        margin: 50px auto;
    }
}
@media(min-width: 1024px){
    .title-container{
        width: 30%;
        margin: 50px 30px;
    }
}



